.span{color:greenyellow;font-weight: bold;}.a{color:rgb(61, 86, 120); padding: 5px; }
.overend{display:flex;gap:20px;width:80%; position:relative;border:5px solid goldenrod;
    border-radius:5px 55px 5px 55px;overflow:hidden;
     height:auto;height:auto; position:relative;
     margin-bottom: 20px;color:yellow;}.header p{padding:10px;}
     
      
         @keyframes color{0%{color:red;} 20%{color:yellow;}40%{color:blue;} 60%{color:gold;}80%{color:goldenrod}
         100%{color:gold;}}
 aside img{width:20px;height:20px;padding:15px;} svg{transform:scale(0.5)skew(30deg); position:absolute; top:50px; left:35%;}
 

.home{color:yellow; border:3px solid rgb(242, 242, 33);
     box-shadow:inset 2px 2px 0px 0px rgb(249, 94, 94); padding:3px; text-align:center;}
     .firsthome{position:absolute; top:110px;left:30px; display:grid;gap:20px;z-index:1000;}
     .asideone{border:3px solid white;position:fixed;right:20px; top:200px; display:grid; z-index:1000;}
     .twoaside{position:fixed;left:15%; top:200px;
        display:grid; z-index:1000; opacity:0;}
        .opa{font-size:20px;color:red;padding:5px;border:5px solid red; font-weight: bold;  animation-name: color;
             animation-duration:8s; background-color: white;}
             /*@keyframes border { 10%{border: 5px solid red;}
             30%{border:5px solid black;}
             50% {border:5px solid blue;}
             70%{border:5px solid green;}
             100%{border:5px solid red;}
                
             }*/
            /* @keyframes feColorMatrix{0%{color:goldenrod;} 20%{color:cornflowerblue;}40%{color:blue;} 60%{color:rgb(193, 131, 32);}80%{color:goldenrod}
             100%{color:red;}}*/
             .footercontact{height:200px; display:flex;border:3px solid yellow;
              box-shadow:inset 5px 5px 5px 1px black,
              inset -5px -5px 5px 1px black ; margin-top:-5px; 
              border-radius:15px 25px 15px 25px;overflow:hidden;}
             .addres{color:blue;display:grid;margin-top:10px;margin-left:10px;padding:15px;}
             footer a{color:red;}
             
            
            
            
              
                 svg{transform:scale(0.5)skew(30deg); position:absolute; top:50px; left:35%;}
                
                  .nintendo{width:100%;height:auto; margin:auto;padding-top:40px;justify-content:center; text-align:center;}
                  .start{display:flex;margin-top:10px;}
                 
                  
                 
                  
                  .red{background-color:red;}
                  
                  
                  .twoaside{border:3px solid white;position:fixed;left:15%; top:200px;
                 border:5px solid white;display:grid; z-index:1000; opacity:0;}
                
                 
                 
                
                 @keyframes rotates{10%{transform:rotate(15deg);}20%{transform:rotate(-15deg);}
                 30%{transform:rotate(15deg);}40%{transform:rotate(-15deg);}50%{transform:rotate(15deg);}
                 60%{transform:rotate(-15deg);}70%{transform:rotate(15deg);}80%{transform:rotate(-15deg);}
                 90%{transform:rotate(15deg);}100%{transform:rotate(-1deg);}}
                


                 



  


                 
    iframe { border:5px solid rgb(118, 104, 28);}
    .ras{margin-left:25%;margin-top:3%;border:3px solid red;width:200px;height:200px;overflow: hidden;}
    .dwa{margin-left:-13%;margin-top:-30%; border:3px solid red;width:200px;height:200px;overflow: hidden;}
    .tri{margin-left:25%;margin-top:-40%;border:3px solid red;width:200px;height:200px;overflow: hidden;}
    .bodi{margin:auto;display:grid;}
      
    .carousel { border:5px solid gold;
      width: 280px;
      height: 300px;
      overflow: hidden;
      position: relative;
      margin:auto;
  }
  .lastlast{margin:auto;color:white;font-size:20px;}
  .imgheadersecond{position: absolute;top:50px;right:5%;width:60px;border:3px groove yellow;border-radius:50%;z-index:-1; 
    opacity:0.7;width:60px;height:35px;}
.imgheaderfirst{position: absolute; top:10px;right:10%;width:60px;border:3px groove yellow;border-radius:50%;z-index:-1;
  opacity:0.7; width:60px;height:30px;}
  /* Slides container */
  .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      height: 100%;
  }

  /* Slide item */
  .slide {
      flex: 0 0 100%;
      max-width: 100%;
  }

  /* Image style */
  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  /* Automatic slideshow */
  @keyframes slide {
      0% { transform: translateX(0); }
      20% { transform: translateX(-100%); }
      40% { transform: translateX(-200%); }
      60% { transform: translateX(-300%); }
      80% { transform: translateX(-400%); }
      100% { transform: translateX(-500%); }
  }

  /* Make it a continuous loop */
  .slides.animate {
      animation: slide 30s linear infinite;
  }
  
  .h1{text-shadow:3px 3px 5px black,
    -3px -3px 5px black;padding:auto;
    animation-name:color;animation-duration:8s;margin-top:20px;margin:auto;text-align:center; 
    color:rgb(233, 183, 57);}   
  body{ background-image:url(https://images.unsplash.com/photo-1620733723572-11c53f73a416?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
     ;background-repeat: no-repeat;width:100%;
  background-size: cover;} 
  .but{border:3px solid red;margin-left:15%; padding:5px;background-color: white;
    padding-left:15px;padding-right:15px;padding-top:15px; padding-bottom: 15px; color:red;
     border-radius:50%;text-align:center; }
    .aftermain{display:flex;flex-wrap:wrap;justify-content: center;align-items: center; margin:auto;
      gap:20px;} 
      .hand{width:280px;height:250px;display:grid;margin:15px;position: relative;}
      .tupa{font-size:25px; font-style: italic; text-shadow: 3px 3px 10px red; color:yellow;width:80%;
      padding:10px;
      margin:auto; text-align:center;}
      .ucha{position:absolute;text-align:center;top:10px;color:white;padding:10px; font-weight:bold;}
      .youtub{width:280px;height:380px;border :5px solid gold;}

      .a{color:blue; padding: 5px; }
.overend{display:flex;gap:20px;width:80%; position:relative;border:5px solid goldenrod;
    border-radius:5px 55px 5px 55px;overflow:hidden;
     height:auto;height:auto; position:relative;
     margin-bottom: 20px;color:black;}.header p{padding:10px;}
      .img{width:30px;gap:15px; animation-name:transform; animation-duration:8s;}
      @keyframes rotate{10%{transform:rotate(3deg);}20%{transform:rotate(-3deg);}30%{transform:rotate(3deg);}
      40%{transform:rotate(-3deg);}50%{transform:rotate(3deg);}
      60%{transform:rotate(-3deg);}70%{transform:rotate(3deg);}80%{transform:rotate(-3deg);}90%{transform:rotate(3deg);}
      100%{transform:rotate(1deg);}}
       @keyframes transform{10%{transform:rotate(5deg) translateY(3px) translateY(3px) 
        skew(5deg);}50%{transform:rotate(-5deg) translateY(-5px) translateY(-3px) skew(-0.06turn);}100%{transform:rotate(8deg)
             translateY(8px)
             translateY(3px) skew(-0.08turn);}}
         @keyframes color{0%{color:red;} 20%{color:yellow;}40%{color:blue;} 60%{color:gold;}80%{color:goldenrod}
         100%{color:gold;}}
         
 aside img{width:20px;height:20px;padding:15px;} svg{transform:scale(0.5)skew(30deg); position:absolute; top:50px; left:35%;}
 

 .babasurf{position:absolute;top:0px; z-index:-3;}
 .classall{display:flex; margin:auto;overflow: hidden;flex-wrap: wrap;margin-top:30px;}
 .classone{width:280px; height:550px;background-color:brown;color:yellow;font-size:23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border:5px solid goldenrod;text-align:center;display:grid; border-radius:15px 25px 15px 25px ;margin:auto;grid-template-rows: 300px 190px 60px;}

 .baat{width:50px;height:30px; color:yellow; background:red; border-radius:10%;
   position:relative;z-index:1500; }
   #button{ height:20px;}
   .imgclassone{ margin-bottom: 1px;padding-bottom: 40px;}
   .clubord{color:rgb(120, 31, 31);font-size:25px;padding-left:10px; padding-right:10px;
    text-shadow: 2px 2px 3px yellow,
    -2px -2px 3px yellow ; text-indent:20px;}
    .clubor{color:yellow;font-size:25px;padding-left:10px; padding-right:10px;
      text-shadow: 1px 1px 2px white,
      -1px -1px 2px white ; text-indent:20px;}
   .clubord span{ animation-name:feColorMatrix;animation-duration:8s;font-size:32px;color:red;
    text-decoration: none;text-shadow:none; 
    text-shadow: 1px 1px 2px black,
    -1px -1px 2px black;}
  .butt{border:3px solid black; margin-bottom:10px;box-shadow:3px 2px 1px red;
    border-radius:5px 10px 5px 10px;
      width:50px;height:50px; font-size: 10px;}
      .textar{justify-content: center;border:5px solid yellow;box-shadow:inset 5px 5px 5px 0 gray,
        inset -5px -5px 5px 0 gray;}
        .buttt{height:30px; width:70px; border:5px solid goldenrod; margin-bottom: 10px;}
        .red {
          color: red;
        }
.overends{margin:auto;color:yellow;font-size:15px;display:flex;flex-wrap: wrap;overflow: hidden;gap:15px;}
@media only screen and (max-width: 700px) {
 
                      .overends { width:50px;
                          display: none; /* Hide the 'bod' class on smaller screens (e.g., phones) */
                      }}
.overends a{color:blue;}

        .bask{animation-name:rotates;animation-duration:8s; width:50px; height:auto;}
 .beforeoverends{width:150px;height:150px; border:3px solid rgb(154, 133, 18);border-radius:50%;
  justify-content: center; text-align:center; align-items:center; margin-top:20px;}
.beforebefore{text-align:center;align-items:center;justify-content: space-around;}
.twoaside{position:fixed;left:15%; top:200px;
        display:grid; z-index:1000; opacity:0;}
        .opa{font-size:20px;color:red;padding:5px;border:5px solid red; font-weight: bold;  animation-name: color;
             animation-duration:8s; background-color: white;}
             h2{ background-color:none;color:black;text-shadow:3px 3px 3px white; font-size:30px; font-style:italic;}
             .dropdown-content a{padding:3px; color:red; border:3px solid gray; background-color:yellow; }
             .header img{border-radius:25px 45px 25px 45px; border:5px double goldenrod; box-shadow:inset 8px 8px 3px 0 goldenrod,
              inset -8px -8px 3px 0 goldenrod;} 
              .pictures{text-align:center;margin:auto;}
             .dropdown {
                     position: relative;
                     display: inline-block;
                   }
                   .morder{font-size:3px;opacity:0;}
                   .order{font-size:3px;opacity:0;}
                   .header{width:320px;display:flex; gap:15px;} 
             .dropdown-content {
                     display: none;
                     position: absolute;
                     background-color:white;
                     min-width: 160px;
                     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                     z-index: 1;
                   }
              
             .dropdown:hover .dropdown-content {
                     display: grid;
                   }
                   .texttop{color:white; font-size: 16px;font-style: italic;text-align:center;
                    text-shadow: 2px 2px 3px black,
                    -2px -2px 3px black;}
                    .h2{text-align:center; color:gold; font-size: 16px;font-style: italic;text-align:center;
                      text-shadow: 2px 2px 3px black,
                      -2px -2px 3px black;}
                      h3{color :white; font-size:10px; font-style:italic;}
                      .aindex{ background-color:none;color:black;text-shadow:3px 3px 3px white; font-size:30px; font-style:italic;}
                              
                    .bindex{ 
                      text-shadow:1px 1px 3px white,
                      -1px -1px 3px white ;
                    font-size:18px;
                    color:black;}
                    .divaindex{position:absolute;text-align:center;top:10px;padding:10px;
                      font-weight:bold;}
                      
                      .textclass{grid-row: 1;}
                      .imgclassone{grid-row: 2;}
                      .divclass{grid-row: 3;}
                      .ordere{opacity:0;font-size:8px; text-align:center;color:yellow;}

                      #custo {
                        font-family: Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                        text-align:center;
                      }
                      
                      #custo td, #customers th {color:black;
                        border: 1px solid black;
                        padding: 8px;
                      }
                      #custo tr{border:3px solid black; color:rgb(119, 106, 35);}
                      #custo tr:nth-child(even){background-color:none;border:3px solid black;}
                      
                      #custo tr:hover {background-color: #ddd;}
                      
                      #custo th {color:gold;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: left;
                        background-color:rgb(102, 90, 25);
                        color: white;
                      }
                      #custo td span{color:red; font-style: italic;font-weight: bold;
                        text-shadow:2px 2px 2px white,
                        -1px -2px 2px white;
                      }         
                      .asideduo{border:3px solid white;position:fixed;left:20px; top:200px; display:grid; z-index:1000;}
                      .asidetiga{position:fixed;right:-3px; top:20%; display:grid; z-index:1000;border-radius:20%;}
                      #custa {
                        font-family: Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                        text-align:center;
                      }
                      
                      #custa td, #custa th {color:yellow;
                        border: 1px solid black;
                        padding: 8px;
                        text-shadow: 2px 2px 2px black,
                        -2px -2px 2px black;
                      }
                      #custa tr{border:3px solid black; color:rgb(119, 106, 35);}
                      #custa tr:nth-child(even){background-color:none;border:3px solid black;}
                      
                      #custa tr:hover {background-color:black;}
                      
                      #custa th {color:gold;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: left;
                        background-color:rgb(102, 90, 25);
                        color: white;
                      }
                      #custa td span{color:red; font-style: italic;font-weight: bold;
                        text-shadow:2px 2px 2px white,
                        -1px -2px 2px white;
                      }
                      .price{width:100%;border:8px solid red;} 
                      .img{width:20; height:30px;} 
                      .clubord a {text-decoration: none;background:white;} 
                      .bookmassage{border:5px solid rgb(171, 21, 21);font-size:20px;color:yellow;text-decoration: none;}    
                      .crystal{display:flex;flex-wrap: wrap;}
                      .crystalimg{width:280px; height:auto;justify-content: center; align-items: center;margin:auto; border-radius: 10px 20px 10px 20px;border:5px solid goldenrod;}






